<html>

<body bgcolor="#ababab">
<h4>Tabela de ajuda</h4>

<ul>
<li><a href="#basic">Basico</a></li>
<li><a href="#comands">Comandos de movimento</a></li>
<li><a href="#advanced">Estrutura condicional</a></li>
<li><a href="#intro">Estruturas de iteração</a></li>
<li><a href="#charts">Booleanos</a></li>
</ul>

<p>
<a name="basic">
<h6>Basico</h6>
    Delimitador de instrucao ; <br/>
    Delimitador de blocos { } <br/>

    Para que seu codigo fique mais organizado e legivel
    e aconselhado pular linha para cada instruao e
    apos os delimitadores de bloco.

    Utilize o ; para separar cada instrucao.
    Visualize exemplos de como fazer.

</a>
</p>

<p>
<a name="advanced">
<h6>Advanced Statistics</h6>
Overview of advanced concepts in statistics. Anova. Linear regression. 
Estimation and  hypothesis testing.
Error terms.
</a>
</p>

<p>
<a name="intro">
<h6>Introducing Newt</h6>
Introducing the basic functionality of the Newt application. Creating sheets. 
Charts. Menus and Toolbars. Importing data. Saving data in various formats. 
Exporting data. Shortcuts. List of methods.
</a>
</p>

<p>
<a name="charts">
<h6>Charts</h6>
Working with charts. 2D charts. 3D charts. Bar, line, box, pie, range charts. 
Scatterplots. Histograms.
</a>
</p>

<p>


</body>
</html>